<launch>
    <arg name="map_name" />
    <arg name="map_pack" default="gazebo_worlds" />
    <arg name="filename" default="$(eval find(map_pack) + '/map/' + map_name)" />

    <!-- Save grid map -->
    <node name="map_saver" pkg="map_server" type="map_saver" args="-f $(arg filename)" />

    <!-- Save semantic map -->
    <include file="$(find semantic_map)/launch/save_semantic.launch">
        <arg name="filename" value="$(arg filename)"/>
    </include>

</launch>