# Version number
0 

%%

# Declaration
# variables in the form of 'name: domain', multiple lines or separated by blank
# domain: boolean, {}(finite set seperated by ','), [](integers)
INPUT: var1:boolean var2:boolean; 
OUTPUT: ;

%%

# Specification in BNF form

